:root {
    --dark: black;
    --light: white;
    --grey: #D2D2D2;
    --background: #262020;
    --icon-width: 10vw;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 300px;
    height: 400px;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}


.reload {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 5vw;
    width: var(--icon-width);
    height: auto;
    cursor: pointer;
}

.albumImage {
    width: 100%;
    height: auto;
}

.albumContainer {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 0 !important;
}

.currentlyPlayingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 85%;
    margin-bottom: 20px;
}

.controllerContainer {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playPause {
    height: 8vh !important;

}

.textContainer {
    width: 100%;
    line-height: 1px !important;
}

.trackTitle {
    color: var(--light);
    font-size: 25px;
}

.trackArtist {
    color: var(--grey);
    font-size: 18px;
}

.controller {
    width: var(--icon-width);
    height: auto;
    cursor: pointer;
}


.waitingContainer {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background);
    color: var(--light);
}

.reloadButton {
    margin-top: 10%;
}

.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    flex-direction: column;
    text-align: center;
}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .5s ease;
    color: white;
    text-align: center;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--light);
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }